<!-- Footer -->
<link href="~/Content/css/footer.css" rel="stylesheet" />
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Catalogo Prodotti</h5>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright: Roberto Spaziani
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->