<link href="~/Content/css/header.css" rel="stylesheet" />
<header class="header-fixed">

    <div class="header-limiter">

        <h1><a href="#">Catalogo <span>Prodotti</span></a></h1>

        <nav>
            <a href="catalog" class="selected">Catalogo</a>
            <a href="addProduct" >Aggiungi Prodotto</a>
        </nav>

    </div>

</header>


<!-- You need this element to prevent the content of the page from jumping up -->
<div class="header-fixed-placeholder"></div>
