@{
    ViewBag.Title = "Catalogo Prodotti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div data-ng-view></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/module.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/catalogController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/addProductController.js")"></script>
}

